spring:
  application:
    name: APP-Company

  datasource:
    url: jdbc:h2:mem:company_db
    driver-class-name: org.h2.Driver
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console



  docker:
    compose:
      enabled: false

security:
  jwt:
    secret: ${JWT_SECRET:my-super-secret-key}

