spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: teste
    password: teste
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  docker:
    compose:
      enabled: false

  security:
    jwt:
      secret: ${JWT_SECRET:my-super-secret-key}

logging:
  level:
    org.hibernate.SQL: debug
